.app {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.mainHeading {
  margin: 20px;
}

.searchBar {
  margin-bottom: 20px;
}

.songChooser {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}